.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2 {
  padding-top: 50px;
}

.catalogo {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.itemCatalogo {
  text-align: center;
  border: 1px solid black;
  width: 1fr;
  height: 150px;
  margin: 15px;
  
}

.stockData {
  display: inline
}

.CounterContainer {
  display: inline;
}

.ItemCount {
  display: inline;
  height: 25px;
  margin: 5px;
}



